
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
/* font-family: 'Alata', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    cursor: pointer;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}
.desktop-header{
    background-image: url("images/desktop/image-hero.jpg");
    padding-bottom: 120px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.desktop-header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    max-width: 1440px;
    /* border: 1px solid white; */
    width: 100%;
    padding: 50px;
    font-family: 'Alata', sans-serif;
}
.desktop-header .nav-links a{
    color: white;
}
.nav-links {
    display: flex;
}
.nav-links .link{
    margin-right: 40px;
    position: relative;
}
.nav-links .link a::after{
    content: "";
    position: absolute;
    width: 60%;
    top: 110%;
    left: 20%;
    height: 3px;
    background-color: white;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.link a:hover::after{
    opacity: 1;
}
.desktop-header .desktop-logo {
    padding-left: 50px;
}
.immersive-text{
    width: 400px;
    height: 200px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.immersive-text h1{
    color: white;
    text-transform: uppercase;
    font-family: Josefin Sans, sans-serif;
    font-size: 45px;
    font-weight: 300;
}
.immersive-div{
    padding-left: 100px;
    padding-top: 50px;
}
main{
 margin: 100px 80px;
}
.vr-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
    /* border: 1px solid black; */
}
.vr-text-div p:nth-child(1){
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--Black);
}
.vr-text-div p:nth-child(2){
    color: var(--Very-Dark-Gray);
    font-family: Alata;
    font-size: 14px;
}
.vr-text-div{
    padding: 80px;
    background-color: white;
    margin-left: -100px;
    margin-top: 100px;
}
.creations-div{
    display: flex;
    justify-content: space-between;
    font-family: Josefin Sans, sans-serif;
    margin-bottom: 80px;
    /* border: 1px solid black; */
}
.creations-div p{
    font-size: 40px;
    text-transform: uppercase;
}
.creations-div button{
    background-color: transparent;
    text-transform: uppercase;
    padding: 7px 30px;
    border: 2px solid var(--Very-Dark-Gray);
    color: black;
    letter-spacing: 5px;
    font-family: Alata;
    font-weight: 600;
}
.pics-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid img{
    width: 100%;
    height: 100%;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Black);
    padding: 40px 80px;
    font-family: Alata;
}
.about-links a{
    color: white;
}
.logo-footer{
    margin-bottom: 10px;
}
.second-div{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
ion-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.about-links a::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: white;
    top: 100%;
    left: 20%;
    opacity: 0;
    transition: all 0.3s ease-in;
    transform-origin: left;
}
.about-links a:hover::after{
    opacity: 1;
}
.about-links{
    display: flex;
    /* border: 1px solid white; */
}
.about-links .link{
    position: relative;
    margin-right: 30px;
}
.social-div{
    display: flex;
}
.social-div .link{
   position: relative;
   margin-left: 20px;
   /* border: 1px solid white; */
}
.social-div .link a{
    color: white;
}
.social-div .link a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.social-div .link a:hover::after{
    /* transform-origin: left; */
    opacity: 1;
}
.mobile-header{
    display: none;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.mobile-nav{
    display: none;
}




@media only screen and (max-width: 650px){
    .desktop-header{
        display: none;
    }
    .mobile-header{
        display: block;
        border: 1px solid black;
        background-image: url("images/mobile/image-hero.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
       
    }
    .mobile-header-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .mobile-immersive-div{
        width: 90%;
        border: 1px solid white;
        margin: 0 auto;
        margin: 150px auto 250px auto;
    }
    .mobile-immersive-text h1{
        font-size: 40px;
        color: white;
        font-family: Josefin Sans;
        text-transform: uppercase;
        padding: 20px;
    }
    .vr-div{
        grid-template-columns: 1fr;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    main{
        margin: 0;
        padding: 15px;
    }
    .creations-div button{
        display: none;
    }
    .pics-grid{
        grid-template-columns: 1fr;
    }
    footer{
        flex-direction: column;
        padding: 20px ;
    }
    .second-div{
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .about-links{
        flex-direction: column;
        align-items: center;
    }
    .about-links .link{
        margin-bottom: 20px;
        margin-right: 0;
    }
    .social-div{
        justify-content: center;
    }
    .second-div p{
        font-size: 14px;
        color: var(--Dark-Gray);
    }
    .vr-text-div{
        padding: 35px;
        background-color: white;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }
    .vr-text-div p:nth-child(1){
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
    }
    .creations-div{
        justify-content: center;
    }
    .creations-div{
        margin-bottom: 40px;
    }
    .mobile-nav{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 0;
        left: 0;
        pointer-events: none;
        display: bloack;
    }
    .opacity-none{
        opacity: 0;
    }
    .mobile-nav-header{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 150px;
    }
    .mobile-nav-links {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }
    .mobile-nav-links a{
        color: white;
        text-transform: uppercase;
        font-family: Josefin Sans;
        font-size: 25px;
        cursor: pointer;
    }
    .menu-close img{
        width: 25px;
        height: 25px;
    }
    .menu-close{
        cursor: pointer;
    }
    .hamburger{
        cursor: pointer;
    }
    .mobile-nav{
        display: block;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 900px){
    .desktop-header-flex{
        padding: 50px 20px;
    }
    .immersive-div{
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desktop-header-flex .desktop-logo{
        padding-left: 0px;
    }
    .nav-links .link{
        margin-right: 20px;
    }
    .desktop-logo{
        width: 150px;
    }
    .desktop-logo img{
        width: 100%;
    }
   
    .vr-text-div{
        padding: 20px;
    }
    .vr-text-div p:nth-child(1){
        font-size: 25px;
        margin-bottom: 20px;
    }
    .vr-text-div p:nth-child(2){
        font-size: 14px;
    }
    .vr-text-div{
        margin-left: -60px;
    }
    .second-div p{
        font-size: 13px;
        margin-top: 10px;
    }
   
}